{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="container py-4">
  <h1 class="title text-center">{{ .Title }}</h1>

  <div class="row pb-4">
    {{ range.Pages }}
      <div class="col-lg-6">
        <div class="card py-2">
          <hr class="mt-0">
          {{ with .Params.supertitle }}
            <div class="text-muted">{{ . }}</div>
          {{ end }}
          <p class="card-title">
            <a class="text-primary fs-4 text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <br>{{ .Date | time.Format "2 Jan 2006" }}
            {{ with .Params.author }}
                <br>by {{ . }}
            {{ end }}
          </p>

          <p>
            {{ with .Params.description }}
              {{ . }}
            {{ else }}
              {{ .Summary | truncate 200 }}
            {{ end }}
          </p>

          <div class="card-footer">
            <small class="text-muted"><a href="{{ .RelPermalink }}">Read more...</a></small>
          </div>

      </div>
    </div>
  {{ end }}
</div>

{{ end }}
