{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pt-2 pt-md-6 pb-3 pb-md-6">
  <div class="row">
    <div class="col-12 col-md-3 mb-3">
      <div class="sidebar">
        {{ partial "sidebar-news" . }}
      </div>
    </div>
    <div class="col-12 col-md-9">

      {{ with .Params.supertitle }}
          <div class="text-muted">{{ . }}</div>
      {{ end }}
      <h1 class="title">{{.Title}}</h1>

      <div class="content">
        {{.Content}}
      </div>


      <p class="text-muted">
        posted {{ .Date | time.Format "2 Jan 2006" }}

        {{ with .Params.author }}
            by {{ . }}
        {{ end }}
      </p>

    </div>
  </div>
</div>
{{ end }}
