<div class="row">
    {{ range first 2 .Site.Taxonomies.categories.featured }}
        <div class="col-lg-6">
            <div class="container py-2 text-start">
                {{ with .Params.supertitle }}
                    <div class="text-muted">{{ . }}</div>
                {{ end }}
                <p class="card-title">
                  <a class="text-primary fs-4 text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a>
                  {{ with .Params.author }}
                      <br>by {{ . }}
                  {{ end }}
                </p>

                <p>
                  {{ with .Params.description }}
                    {{ . }}
                  {{ else }}
                    {{ .Summary | truncate 200 }}
                  {{ end }}
                </p>

                <div class="card-footer">
                    <small class="text-muted"><a href="{{ .RelPermalink }}">Read more...</a></small>
                </div>
            </div>
        </div>
    {{ end }}
</div>
